:root {
    --primary-color: #fff;
    --secondary-color: #ccc;
    --shadow-color: #444;
    --dropdown-container-height: 500px;
    --dropdown-container-width: 300px;
    --selected-dropdown-container-height: 25px;
    --selected-dropdown-container-width: 299px;
    --horizontal-shadow-padding: 10px;
    --vertical-shadow-padding: 10px;
    --shadow-area-spread: 15px;
    --month-list-height: 40px;
    --month-list-width: 240px;
    --animation-speed1: 0.1s;
    --animation-speed2: 1s;
}


.Dropdown {
    background-color: var(--primary-color);
    height: var(--dropdown-container-height);
    width: var(--dropdown-container-width);
    display: flex;
    flex-direction: column;
}


.DropdownSelected{
    border: 2px solid var(--secondary-color);
    height: var(--selected-dropdown-container-height);
    width: var(--selected-dropdown-container-width);
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: var(--horizontal-shadow-padding)
    var(--vertical-shadow-padding) var(--shadow-area-spread) var(--shadow-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.DropDownContainer {
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-left: 1px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    height: var(--dropdown-container-height);
    width: var(--dropdown-container-width);
    display: flex;
    flex-direction: column;
    box-shadow: var(--horizontal-shadow-padding)
    var(--vertical-shadow-padding) var(--shadow-area-spread) var(--shadow-color);
    animation: dropdown var(--animation-speed1) forwards ease-in;
}

.MonthList {
    height: var(--month-list-height);
    width: var(--month-list-width);
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--secondary-color);
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: dropdown var(--animation-speed2) forwards ease-in;
}

@keyframes dropdown {
    from {
        height: 0px;
    }

    to {
        height: var(--dropdown-container-height);
    }
}