.Dropdown {
    background-color: #fff;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.DropdownSelected{
    border: 2px solid #ccc;
    height: 25px;
    width: 299px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 15px #444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.DropDownContainer {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 2px solid #ccc;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 15px #444;
    animation: dropdown 0.1s forwards ease-in;
}

.MonthList {
    height: 40px;
    width: 240px;
    background-color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: dropdown 1s forwards ease-in;
}

@keyframes dropdown {
    from {
        height: 0px;
    }

    to {
        height: 500px;
    }
}