.Arrow {
    padding: 2px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    width: 5px;
    height: 5px;
    margin-top: 15px;
    margin-left: 20px;
    transform: rotate(-225deg);
}
